/* Fonts */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

/* Переменные */
:root {
  --color-brand: #819b57;
  --color-brand-dark: #465929;
  --color-light: #faf4ea;
  --color-dark: #31261a;
}
/* Global styles */
body {
  color: var(--color-dark); /* Задает цвет текста для всего тела документа */
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}

.uppercase {
  text-transform: uppercase; /* Делает все аперсайнс классы текстом с высоким регистром */
}

.accent {
  color: var(
    --color-brand
  ); /* Делает все акцентные классы текстом с цветом бренда */
}

ul {
  list-style-type: none; /* Убирает маркеры у списка */
}

/* Section styles */
.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

/* Chef section */
.chef-title {
  font-size: 40px;
  font-weight: 600;
}

/* Format section */
.fornat-title {
  font-size: 24px;
  font-weight: 600;
  vertical-align: middle;
}

.fornat-tetx {
  font-size: 14px;
  font-weight: 300;
}

/* Button styles */
.button {
  color: var(--color-light);
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  font-weight: 600;
  border-radius: 8px;
}

.button:hover {
  background-color: transparent; /* Прозрачный цвет фона  */
  color: var(--color-brand-dark);
  border-color: var(--color-brand-dark);
  cursor: pointer;
}

/* Link styles */
.link {
  color: var(--color-light);
  text-decoration: none; /* Убирает подчеркивание у ссылки */
}

.link:hover {
  color: var(--color-brand);
  cursor: pointer;
  font-weight: 600;
}

/* Hero title styles */
.hero-title {
  color: var(--color-light);
  text-align: center;
  font-weight: 900;
  font-size: 128px;
}

/* Advantages list styles */
.advantages-list {
  background-color: var(--color-brand);
  color: var(--color-light);
}
.advantages-item {
  font-size: 20px;
  font-weight: 300;
}

/* Footer */

.address-link {
  color: var(--color-light);
  font-size: 16px;
  font-weight: 300;
}
.address-link:hover {
  color: var(--color-brand);
}
.address-copyright {
  color: var(--color-dark);
  font-size: 14px;
}
/* .section-title .accent {
  color: var(--color-brand);
} */
/* 
.traditional-text .brand {
  color: var(--color-brand);
} */
